<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="/css/common.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Pretendard:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <title>공지사항</title>
</head>
<body>
<main role="main">
  <section id="section n1">
    <aside class="side-bar side-wrapper">
      <div class="side-content header">
        <figure>
          <img src="/images/logo.png" alt="logo">
        </figure>
        <span>핑크피그</span>
      </div>
      <div class="side-content info">
        <p>관리자 : admin</p>
        <p>접속일시: 2024-07-08 16:06:16</p>
        <a href="/admin/logout" class="logout-btn" id="logoutBtn">로그아웃</a>            </div>
      <div class="side-menu active">
        <p class="head-menu"><i class="fa-solid fa-marker"></i> 관리</p>
        <ul class="sub active">
          <li><a href="/admin/notice">공지사항</a></li>
          <li><a href="/admin/faq">자주 묻는 질문</a></li>
        </ul>
      </div>
    </aside>
    <div class="content-page">
      <div class="content-tab-bar">
        <ul class="tab-nav">
          <li class="tab-link current"><a href="/admin/company/question">공지사항</a></li>
          <li class="tab-link"><a href="/admin/faq">자주 묻는 질문</a></li>
        </ul>
        <div class="tab-content current">
          <div class="tab-head">
            <p>공지사항</p>
          </div>
          <div class="tab-item">
            <form action="#" method="#" style="width: 100%;">
              <ul class="search-box">
                <li class="search-left">
                  <span>공지사항 <em>2</em>개</span>
                </li>
                <li class="search-right">
                  <div class="tab-input-wrapper">
                    <input class="input-id" type="text" name="keyword" placeholder="검색어 입력">
                    <input class="submit-btn" type="submit" value="Search">
                  </div>
                </li>
              </ul>
            </form>
            <table>
              <colgroup>
                <col width="40%">
                <col width="25%">
                <col width="25%">
                <col width="10%">
              </colgroup>
              <thead>
              <tr>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록일</th>
                <th scope="col">내용</th>
              </tr>
              </thead>
              <tbody>
              <tr class="review">
                <td class="title">업데이트가 완료되었습니다</td>
                <td class="content">admin</td>
                <td>2024-07-08</td>
                <td><button class="detail-btn">상세보기</button></td>
              </tr>
              <tr class="review">
                <td class="title">업데이트가 완료되었습니다</td>
                <td class="content">admin</td>
                <td>2024-07-08</td>
                <td><button class="detail-btn">상세보기</button></td>
              </tr>
              </tbody>
            </table>
          </div>
          <div class="faq-button-wrapper">
            <a class="btn black" href="/admin/faq/write-form">작성</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>
<script>
  document.addEventListener('DOMContentLoaded', (event) => {
    const logoutBtn = document.getElementById('logoutBtn');

    logoutBtn.addEventListener('mouseenter', () => {
      logoutBtn.style.backgroundColor = '#f45858';
      logoutBtn.style.borderColor = '#f45858';
      logoutBtn.style.color = '#fff';
    });

    logoutBtn.addEventListener('mouseleave', () => {
      logoutBtn.style.backgroundColor = 'transparent';
      logoutBtn.style.borderColor = '#fff';
      logoutBtn.style.color = '#fff';
    });

    const manageMenu = document.getElementById('manageMenu');
    const userMenu = document.getElementById('userMenu');

    manageMenu.addEventListener('click', () => {
      manageMenu.classList.toggle('active');
    });

    userMenu.addEventListener('click', () => {
      userMenu.classList.toggle('active');
    });
  });

</script>
</body>
</html>
